/* common button */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body
{
    font-family: "SharpGroteskCondensed","Open Sans",sans-serif;
    font-family: 'Open Sans', sans-serif;

}



/* header */




.box-menu
{
    background-color: white;
    height: 80px;
    position: relative;
    padding: 10px 20px;
}


#logo
{
    height: 26px;
    position: absolute;
    top: 30%;
}

#logo:hover
{
    cursor: pointer;
}

.lista-sx nav
{
    position: absolute;
    top: 34%;
    left: 15%;
}

.lista-dx nav
{
    position: absolute;
    top: 34%;
    right: 0%;
}

.lista-sx nav ul li
{
    display: inline-block;
}

.lista-dx nav ul li
{
    display: inline-block;
}

.lista-sx nav ul li a
{
    text-decoration: none;
    color: black;
    font-size: 16px;
    padding-right: 25px;
    font-weight: bold;
}

.lista-dx nav ul li a
{
    text-decoration: none;
    color: black;
    font-size: 16px;
    padding-right: 25px;
    font-weight: bold;
}


.menu-hover nav ul li a:hover
{
    text-decoration: underline;
}







.jumbotron
{
    position: relative;
    height: 741px;
    background-color: #b4d0e7;
}

.jumbotron h1
{
    font-size: 76px;
    padding: 40px 40px;
    width: 100%;
    font-weight: bolder;
}

.testo-jumbo
{
    width: 30%;
    line-height: 1.6;
    padding: 0 40px;
    font-size: 18px;
}

.immagine-jumbo
{
    position: absolute;
    top: 35%;
    right: 1%;
}

.button-jumbo 
{
    background-color: #0061ff;
    font-size: 14px;
    padding: 7px 16px;
    border: none;
    text-decoration: none;
    font-size: 17px;
    color: white;
    position: absolute;
    bottom: 25%;
    left: 3%;
    cursor: pointer;
}

.testo-jumbo span
{
    position: absolute;
    bottom: 20%;
    left: 3%;
}


#arrow
{
    position: absolute;
    bottom: 10%;
    left: 3%;
    font-size: 40px;
}

#arrow:hover
{
    cursor: pointer;
}










/* debug */
/* .debug
{
    height: 821px;
    width: 100%;
    background-color: aquamarine;
} */